.messenger {
  height: calc(100vh - 55px);
  display: flex;   
  overflow-y: hidden;
}

.chatMenu {
  flex: 2.5;

}

.chatMenuInput {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid rgb(212, 204, 204);
  font-size: 16px;
}

.chatMenuInput:focus {
  outline: none;
}

.chatBox {
  flex: 7;
}

.chatOnline {
  flex: 2.5;
}

.chatMenuWrapper {
  height: 100%;
  padding: 10px;
  border-right: 1px solid rgb(212, 204, 204);
}

.chatBoxWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.chatBoxTop {
  height: 100% ; 
  overflow-y: scroll;
 
}

.chatBoxBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 20px; 
  
}

.chatInput {
  width: 80%;
  height: 50px;
  border-radius: 25px;
  padding: 0 10px;
  font-size: 16px;
  border: none;
  background-color: rgb(236 236 236);
}
.chatInput:focus {
  outline: none;
}

.chatSubmitBtn {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: teal;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
}

.chatOnlineWrapper {
  height: 100%;
  padding: 10px;
  border-left: 1px solid rgb(212, 204, 204);
}
